body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    text-align: center;
    padding: 40px;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}

form {
    background: white;
    padding: 20px;
    width: 350px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

input[type="text"], input[type="file"] {
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #aaa;
    margin-bottom: 15px;
}

button {
    background: #1579eb;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #479af8;
}

img {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

a button {
    background: #007BFF;
    margin-top: 15px;
}

a button:hover {
    background: #0066d6;
}